.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-row {
    display: flex;
    height: 100%;
}

.leftbar {
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%;
}

.rightbar {
    padding: 20px;
    background-color: #fff;
    height: 100%;
}

.leftbar,
.rightbar {
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .leftbar {
        display: none;
    }

    .rightbar {
        padding: 10px;
    }
}